@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
}
nav{
    background-color: #F19469;
}
#logoBendela{
    height: 10vh;
    width: 10vh;
}
#icone{
    height: 10vh;
    width: 10vh;
    position: fixed;
    bottom: 60px;
    right: 20px;
    cursor: pointer;
    padding: 5px;
    z-index: 1;
    color: #5A7302;
}

.logos{
    width: 60vh;
    height:55vh;
    margin-left: 2vh;
}
#blocoDoTitulo{
    padding: 8vh;
}
/* footer */
footer{
    height: 24vh;
    background-color: #F19469;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#lista{
    padding-top: 3vh;
}
li{
    list-style-type: none;
    color: black;
}
#textoCopy{
    padding-top: 5vh;
    text-align: center;
}
#logoFooter{
    width: 6vh;
    height: 6vh;
}
#icones{
    padding-top: 3vh;
    margin: 0 auto;

}
.blocoDoIcone{
    margin-top: 5vh;
    display: inline-block;
    margin-left: 2vh;
}
.redeSociais{
    width: 5vh;
    height: 5vh;
}
.redeSociais :hover{
    opacity: 0.4;
}